*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    padding: 20px;
    background-color:#6045f9a1;
    display: grid;
    grid-template-columns: repeat(4,70px);
}
input{
    grid-column: span 4;
    height:50px;
    width: 260px;
    background-color: #ecf0f3;
    border: none;
    border-radius: 5px;
    color: rgb(20, 19, 19);
    font-size: 20px;
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-family: 'Poppins';
    
}
button{
    color: black;
    height: 30px;
    width: 60px;
    margin: auto;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
h3{
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}